<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 4</b></center>    
<pre>



### Step 1. Import the necessary libraries

In [43]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [9]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 4. See the first 10 entries

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [11]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [13]:
# Solution 1
# here 0 gives the number of rows while the one returns the number of columns.
chipo.shape[0]

4622

In [19]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [22]:
chipo.shape[1]

5

5

### Step 7. Print the name of all the columns.

In [26]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [31]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Number of Unique Items ?

In [35]:
chipo.item_name.nunique()

50

50

### Step 10. Which was the most-ordered item?

In [53]:
# chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).head(1)
# or

c = chipo.groupby('item_name')
c

In [57]:
#  when we apply the sum on the group by all numerics columns are added as per their group.

c1 = c.sum()
c1

,order_id,quantity,choice_description,item_price
item_name,,,,
6 Pack Soft Drink,52322,55,[Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...,$6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Barbacoa Bowl,53972,66,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Barbacoa Burrito,74718,91,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Barbacoa Crispy Tacos,5613,12,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl,9708,10,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
Barbacoa Soft Tacos,18725,25,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25 $9.25 $8.99 $9.25 $9.25 $11.75 $11.75 $9...
Bottled Water,175944,211,0,$1.09 $1.09 $1.09 $1.50 $1.50 $1.50 $3.00 $1.5...
Bowl,472,4,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20 $7.40
Burrito,1550,6,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40 $7.40 $7.40 $7.40 $7.40 $7.40
Canned Soda,76396,126,[Sprite][Dr. Pepper][Mountain Dew][Sprite][Dr....,$2.18 $1.09 $2.18 $1.09 $1.09 $1.09 $1.09 $2.1...
Canned Soft Drink,304753,351,[Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...,$1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...
Carnitas Bowl,62742,71,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99 $11.75 $9.25 $11.48 $8.99 $8.99 $23.50 $...
Carnitas Burrito,51652,60,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99 $9.25 $11.75 $9.25 $9.25 $9.25 $11.75 $9...
Carnitas Crispy Tacos,5868,8,[Roasted Chili Corn Salsa][Tomatillo Green Chi...,$9.25 $11.75 $8.99 $11.75 $8.99 $17.98 $9.25
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99
Carnitas Salad Bowl,6693,6,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89 $9.39 $11.89 $9.39 $11.89 $11.89
Carnitas Soft Tacos,37673,40,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25 $9.25 $9.25 $9.25 $9.25 $8.99 $8.99 $8.9...
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito,497303,591,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chicken Crispy Tacos,47382,50,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $...
Chicken Salad,10465,9,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98 $10.98 $8.49 $8.49 $8.49 $8.49 $8.49 $8...
Chicken Salad Bowl,117104,123,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75 $22.50 $22.50 $8.75 $17.50 $8.75 $8.75 $...
Chicken Soft Tacos,98395,120,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75 $8.75 $8.75 $8.75 $11.25 $8.49 $8.49 $8....
Chips,208004,230,0,$2.15 $2.15 $2.15 $2.15 $2.15 $2.15 $4.30 $2.1...
Chips and Fresh Tomato Salsa,100419,130,0,$2.39 $2.39 $2.39 $2.95 $2.95 $2.95 $2.95 $2.3...
Chips and Guacamole,449959,506,0,$4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Chips and Mild Fresh Tomato Salsa,279,1,0,$3.00
Chips and Roasted Chili Corn Salsa,14999,23,0,$2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Roasted Chili-Corn Salsa,17462,18,0,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Chips and Tomatillo Green Chili Salsa,41170,45,0,$2.95 $2.95 $5.90 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Tomatillo Red Chili Salsa,45556,50,0,$2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chips and Tomatillo-Green Chili Salsa,21826,33,0,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Chips and Tomatillo-Red Chili Salsa,18344,25,0,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Crispy Tacos,434,2,[Adobo-Marinated and Grilled Steak][Adobo-Mari...,$7.40 $7.40
Izze,10587,20,[Clementine][Grapefruit][Blackberry][Blackberr...,$3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.3...
Nantucket Nectar,21814,29,[Apple][Pomegranate Cherry][Pineapple Orange B...,$3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $6.78 $3.3...
Salad,1150,2,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40 $7.40
Side of Chips,84769,110,0,$1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.6...
Steak Bowl,193752,221,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99 $8.99 $11.75 $11.75 $8.99 $11.48 $9.25 $...
Steak Burrito,328437,386,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Steak Crispy Tacos,35818,36,"[Fresh Tomato Salsa, Sour Cream][[Roasted Chil...",$9.25 $8.99 $9.25 $8.69 $8.99 $9.25 $8.99 $9.2...
Steak Salad,2362,4,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99 $8.99 $8.99 $8.69
Steak Salad Bowl,29590,31,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78 $11.89 $9.39 $23.78 $11.89 $11.89 $11.8...
Steak Soft Tacos,50177,56,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25 $9.25 $8.99 $9.25 $8.99 $8.99 $9.25 $9.2...
Veggie Bowl,72270,87,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
Veggie Burrito,80962,97,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25 $8.49 $11.25 $11.25 $10.98 $8.49 $8.49 ...
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
Veggie Salad,7265,6,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49 $8.49 $8.49 $8.49 $8.49 $8.49
Veggie Salad Bowl,17303,18,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
Veggie Soft Tacos,5520,8,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25 $8.75 $8.49 $11.25 $8.75 $8.49 $16.98

In [63]:
c2 = c1.sort_values(['quantity']).tail(1)
c2

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

In [81]:
c = chipo.groupby('item_name')
c1 = c.sum(numeric_only=True)
c2 = c1.sort_values(['quantity'])
c2[['order_id', 'quantity']].tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. How many items were orderd in total?

In [41]:
chipo.quantity.sum()

4972

4972

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [83]:
chipo.item_price.dtypes

dtype('O')

dtype('O')

#### Step 12.b. Create a lambda function and change the type of item price

In [103]:
chipo.item_price = chipo.item_price.apply(lambda x : float(x[1:]))

In [105]:
chipo.item_price.dtypes

dtype('float64')

In [99]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Step 12.c. Check the item price type

In [97]:
chipo.item_price.dtypes

dtype('float64')

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [113]:
total_revenue = sum(chipo.quantity * chipo.item_price)
print(f'The Total Revenue is : ${total_revenue}')

The Total Revenue is : $39237.02

Revenue was: $39237.02

### Step 15. How many orders were made ?

In [151]:
total_order_id = chipo.order_id.max()
total_order_id

1834

1834

### Step 17. How many different choice descriptions are there?

In [139]:
total_diff_choice = chipo.choice_description.nunique()
total_diff_choice

1043

1043

### Step 18. What items have been ordered more than 100 times?

In [147]:
total_items_temp = chipo.groupby('item_name')['quantity'].sum(numeric_only = True)
items = total_items_temp[total_items_temp > 100]
items

item_name
Bottled Water                   211
Canned Soda                     126
Canned Soft Drink               351
Chicken Bowl                    761
Chicken Burrito                 591
Chicken Salad Bowl              123
Chicken Soft Tacos              120
Chips                           230
Chips and Fresh Tomato Salsa    130
Chips and Guacamole             506
Side of Chips                   110
Steak Bowl                      221
Steak Burrito                   386
Name: quantity, dtype: int64

item_name
Bottled Water                   211
Canned Soda                     126
Canned Soft Drink               351
Chicken Bowl                    761
Chicken Burrito                 591
Chicken Salad Bowl              123
Chicken Soft Tacos              120
Chips                           230
Chips and Fresh Tomato Salsa    130
Chips and Guacamole             506
Side of Chips                   110
Steak Bowl                      221
Steak Burrito                   386
Name: quantity, dtype: int64

### Step 19. What is the average revenue amount per order?

In [153]:
# Solution 1

total_revenue / total_order_id

21.39423118865867

21.394231188658654

##### Solution 2

In [171]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_orders = chipo.order_id.tail(1)
a = chipo['revenue'].sum() / total_orders
a

4621    21.394231
Name: order_id, dtype: float64

21.394231188658654

In [173]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
avg_revenue = chipo['revenue'].sum() / chipo['order_id'].nunique()
avg_revenue

21.39423118865867

In [179]:
avg_revenue2 = chipo.assign(revenue=chipo['quantity'] * chipo['item_price']).groupby('order_id')['revenue'].sum().mean()
avg_revenue2

21.39423118865867