<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
    <center><b><h2>Viraj Odedra || 23010101178 || 334 || 25-07-25</h2></b></center>
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [64]:
import pandas as pd
import numpy as np

In [66]:
data = pd.read_csv('Tdata.csv')
data

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0
5          T6      0       0       1     1    1     0

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [68]:
data = data.drop(columns = 'Transaction')
data

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0
5      0       0       1     1    1     0

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [70]:
data.sum()

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [109]:
from itertools import combinations
#  heer itertools used to make the combination like for individual or oair of 2  3  4...
#  we have to back track like for the combi. of 4 if there is not any support more than min support so we have to backtrack to the 3 pair to find the result
def aprioriFunc(data, minSupport = 2):
    n = len(data)
    result = []

    for k in [1, 2, 3]:
        for items in combinations(data.columns, k):
            mask = data[list(items)].all(axis = 1)

            support = mask.sum() / n
            print(f"{frozenset(items)} -> {round(support, 2)}")
            if(support >= minSupport) :
                #  here frozen set makes the pair one time after that not changes even if the dup. paased it is not changed. like list bu immutable we can not change it
                result.append((frozenset(items), round(support, 2)))

    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [111]:
aprioriFunc(data, 0.6)

frozenset({'bread'}) -> 0.83
frozenset({'butter'}) -> 0.5
frozenset({'coffee'}) -> 0.33
frozenset({'eggs'}) -> 0.33
frozenset({'jam'}) -> 0.33
frozenset({'milk'}) -> 0.5
frozenset({'bread', 'butter'}) -> 0.5
frozenset({'bread', 'coffee'}) -> 0.17
frozenset({'bread', 'eggs'}) -> 0.17
frozenset({'bread', 'jam'}) -> 0.17
frozenset({'bread', 'milk'}) -> 0.5
frozenset({'butter', 'coffee'}) -> 0.0
frozenset({'butter', 'eggs'}) -> 0.0
frozenset({'butter', 'jam'}) -> 0.17
frozenset({'milk', 'butter'}) -> 0.33
frozenset({'coffee', 'eggs'}) -> 0.17
frozenset({'coffee', 'jam'}) -> 0.17
frozenset({'milk', 'coffee'}) -> 0.0
frozenset({'eggs', 'jam'}) -> 0.17
frozenset({'milk', 'eggs'}) -> 0.17
frozenset({'milk', 'jam'}) -> 0.0
frozenset({'bread', 'butter', 'coffee'}) -> 0.0
frozenset({'bread', 'butter', 'eggs'}) -> 0.0
frozenset({'bread', 'butter', 'jam'}) -> 0.17
frozenset({'bread', 'butter', 'milk'}) -> 0.33
frozenset({'bread', 'coffee', 'eggs'}) -> 0.0
frozenset({'bread', 'coffee', 'jam'}) -> 0.0
frozenset({'bread', 'coffee', 'milk'}) -> 0.0
frozenset({'bread', 'eggs', 'jam'}) -> 0.0
frozenset({'bread', 'eggs', 'milk'}) -> 0.17
frozenset({'bread', 'milk', 'jam'}) -> 0.0
frozenset({'butter', 'eggs', 'coffee'}) -> 0.0
frozenset({'butter', 'jam', 'coffee'}) -> 0.0
frozenset({'milk', 'butter', 'coffee'}) -> 0.0
frozenset({'butter', 'eggs', 'jam'}) -> 0.0
frozenset({'milk', 'butter', 'eggs'}) -> 0.0
frozenset({'milk', 'butter', 'jam'}) -> 0.0
frozenset({'coffee', 'eggs', 'jam'}) -> 0.17
frozenset({'milk', 'coffee', 'eggs'}) -> 0.0
frozenset({'milk', 'coffee', 'jam'}) -> 0.0
frozenset({'milk', 'eggs', 'jam'}) -> 0.0

[(frozenset({'bread'}), 0.83)]

In [117]:
frequent_itemset = aprioriFunc(data, 0.6)
# print(type(frequent_itemset))
for itemset, support in  frequent_itemset:
    print(f"{set(itemset)} -> support : {support}")

frozenset({'bread'}) -> 0.83
frozenset({'butter'}) -> 0.5
frozenset({'coffee'}) -> 0.33
frozenset({'eggs'}) -> 0.33
frozenset({'jam'}) -> 0.33
frozenset({'milk'}) -> 0.5
frozenset({'bread', 'butter'}) -> 0.5
frozenset({'bread', 'coffee'}) -> 0.17
frozenset({'bread', 'eggs'}) -> 0.17
frozenset({'bread', 'jam'}) -> 0.17
frozenset({'bread', 'milk'}) -> 0.5
frozenset({'butter', 'coffee'}) -> 0.0
frozenset({'butter', 'eggs'}) -> 0.0
frozenset({'butter', 'jam'}) -> 0.17
frozenset({'milk', 'butter'}) -> 0.33
frozenset({'coffee', 'eggs'}) -> 0.17
frozenset({'coffee', 'jam'}) -> 0.17
frozenset({'milk', 'coffee'}) -> 0.0
frozenset({'eggs', 'jam'}) -> 0.17
frozenset({'milk', 'eggs'}) -> 0.17
frozenset({'milk', 'jam'}) -> 0.0
frozenset({'bread', 'butter', 'coffee'}) -> 0.0
frozenset({'bread', 'butter', 'eggs'}) -> 0.0
frozenset({'bread', 'butter', 'jam'}) -> 0.17
frozenset({'bread', 'butter', 'milk'}) -> 0.33
frozenset({'bread', 'coffee', 'eggs'}) -> 0.0
frozenset({'bread', 'coffee', 'jam'}) -> 0.0
frozenset({'bread', 'coffee', 'milk'}) -> 0.0
frozenset({'bread', 'eggs', 'jam'}) -> 0.0
frozenset({'bread', 'eggs', 'milk'}) -> 0.17
frozenset({'bread', 'milk', 'jam'}) -> 0.0
frozenset({'butter', 'eggs', 'coffee'}) -> 0.0
frozenset({'butter', 'jam', 'coffee'}) -> 0.0
frozenset({'milk', 'butter', 'coffee'}) -> 0.0
frozenset({'butter', 'eggs', 'jam'}) -> 0.0
frozenset({'milk', 'butter', 'eggs'}) -> 0.0
frozenset({'milk', 'butter', 'jam'}) -> 0.0
frozenset({'coffee', 'eggs', 'jam'}) -> 0.17
frozenset({'milk', 'coffee', 'eggs'}) -> 0.0
frozenset({'milk', 'coffee', 'jam'}) -> 0.0
frozenset({'milk', 'eggs', 'jam'}) -> 0.0
<class 'list'>
{'bread'} -> support : 0.83

{'bread'} â†’ support: 0.83

### Step 6 Display as a DataFrame

In [121]:
result_df =  pd.DataFrame(frequent_itemset, columns = ['Itemset', 'Support'])
result_df

   Itemset  Support
0  (bread)     0.83

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools